<div ng-controller="defaultController">
  <div class="bg-primary b-b wrapper-md">
    <h2 class="m-n font-thin h4 text-center">先锋太盟<a class="text-md pull-right m-t-xs" ng-click="logout()"><i class="icon icon-logout"></i></a></h2>
  </div>
  <div class="wrapper-sm">
    <div class="row">
      <div class="col-xs-6 text-center m-t-md">
        <a ui-sref="app.hpl.apply"><img src="img/contract_query_logo.png" alt="."  style="width:100%;height:100%"></a>
      </div>
      <div class="col-xs-6 text-center m-t-md">
        <a ui-sref="app.hpl.applyNum"><img src="img/sale_query_logo.png" alt="." style="width:100%;height:100%"></a>
      </div>
      <div class="col-xs-6 text-center m-t-md">
        <a ng-click="alert()"><img src="img/calculater_logo.png" alt="." style="width:100%;height:100%"></a>
      </div>
      <div class="col-xs-6 text-center m-t-md">
        <a ng-click="alert()"><img src="img/new_client_logo.png" alt="." style="width:100%;height:100%"></a>
      </div>
    </div>
  </div>
</div>