<div class="modal-header">
    <h3 class="modal-title">提示</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-md text-align">
                请确认您已仔细核对过申请信息，确认要提交吗？
            </div>
        </div>
        <div style="width:100%;margin: 0 auto;" align="center">
            <a class="btn btn-default btn-sm pull-right m-b-sm m-r-xs" ng-click="submit()" >确认</a>
            <a class="btn btn-default btn-sm pull-right m-b-sm m-r-xs" ng-click="cancel()">取消</a>
        </div>
    </div>
</div>