<div class="wrapper-xs" ng-controller="wzApplyController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">基本信息填写:</div>
        <div class="panel-body">
            <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            <form name="form" class="form-validation" novalidate>
                <div class="form-group">
                    <label><span class="text-danger">*</span>姓名：</label>
                    <input type="text" class="form-control" placeholder="请输入姓名" ng-model="user.name"  ng-pattern="/^[\u2E80-\uFE4F][\u2E80-\uFE4F·]{0,}$/" required>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">*</span>银行预留手机号：</label>
                    <input type="text" class="form-control" placeholder="请输入银行预留手机号" ng-model="user.phoneNum"  ng-pattern="/(^\d{11}$)/" required>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">*</span>身份证号：</label>
                    <input type="text" class="form-control" placeholder="请输入身份证号" ng-model="user.idCard"  ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" required>
                </div>
                <!--<div class="form-group">-->
                    <!--<label><span class="text-danger">*</span>银行开户行：</label>-->
                    <!--<select name="account" class="form-control" ng-model="bank" ng-change="optionChange()" ng-options="bank.bank for bank in banks">-->
                    <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                    <label><span class="text-danger">*</span>银行卡号：</label>
                    <input type="text" class="form-control" placeholder="银行卡号" ng-model="user.bankCardNum"  ng-pattern="/(^\d{16,19}$)/" ng-mouseleave = "getBank()" required>
                    <p ng-if = "bank.name">您选择的是:{{bank.name}}</p>
                    <p ng-if = "!bank.name">请输入正确的银行卡号</p>
                </div>
                <div class="form-group">
                    <label><span class="text-danger">*</span>月均收入水平：</label>
                    <select ng-model="monthlyIncome">
                        <option value ="R01">3000以下</option>
                        <option value ="R02">3000~5000</option>
                        <option value="R03">5000~8000</option>
                        <option value="R04">8000~12000</option>
                        <option value="R05">12000~20000</option>
                        <option value="R06">20000以上</option>
                    </select>
                </div>
                <div class="input-group">
                    <p class="text-left" style="margin-bottom: 2px;">根据《非居民金融账户涉税信息尽职调查管理办法》规定，本人声明如下:</p>
                    <span class="input-group-addon no-bg no-border " style="padding: 0" role="button" ><i class="icon icon-info" style="padding-left: 10px; padding-right: 10px; color:#23b7e5;" ng-click = 'openStatement()'></i></span>
                </div>
                <div class="">
                    <input type="radio" name = "statement" value="1"  ng-model="statement" >仅为中国税收居民<br><span style="color:darkGray;">指中国境内有住所，或者无住所而在境内居住满一年的个人</span><br>
                    <input type="radio" name = "statement" value="2" ng-model="statement" >仅为非居民<br><span style="color:darkGray;">指中国税收居民以外的个人</span><br>
                    <input type="radio" name = "statement" value="3" ng-model="statement" >既是中国税收居民又是其他国家（地区）税收居民
                </div>
                <br>
                <div>
                    <p class="text-info text-left">申请前请仔细阅读以下协议，并确认:<br>
                        <!--<input type="checkbox" ng-model="all"> 全选<br>-->
                        <input type="checkbox" value="a" ng-checked="form.protocol.a" ng-model = "form.protocol.a"><a ng-click="saveData('b')">《个人征信授权书》</a><br>
                        <input type="checkbox" value="b" ng-checked="form.protocol.b" ng-model = "form.protocol.b"><a ng-click="saveData('a')">《个人信息使用授权书》</a><br>
                        <input type="checkbox" value="c" ng-checked="form.protocol.c" ng-model = "form.protocol.c"><a ng-click="saveData('d')">《微众银行个人银行账户服务协议》</a>
                    </p>
                </div>
                <label><span class="text-danger">*</span>验证码：</label>
                <div class="input-group">
                    <input type="text" placeholder="请获取验证码" class="form-control" ng-model="user.code" ng-pattern="/^[0-9]{6}$/" required>
                    <span class="input-group-addon no-bg no-border " style="padding: 0" role="button" ><button class="btn btn-info btn-sm" ng-click="getSmsCode()"><timer interval="1000" countdown="60" autostart="false" ng-show="startCountdown">{{countdown}}</timer>{{showMsg}}</button> </span>
                </div>
                <p class="help-block m-b">验证码将以短信方式发送至您的手机</p>
                <button type="submit" class="btn btn-primary w-full" ng-click="submit()" ng-disabled='form.$invalid || user.notShow'>提交</button>
            </form>
        </div>
    </div>
</div>